
.back-resource {
    padding: 25px;
    margin-top: 15vh;
    align-content: center;
    margin-bottom: 50px;
    color:#161616;
    /* background-image: url("/images/8.jpg"); */
    background-color: rgba(215, 241, 241, 0.6);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-row {
    width: 100% !important;
    margin: auto !important;
}
